
.mouse-coordinates {
	position: absolute;
	z-index: 10;

	
}
.img1 {
	margin-top: -8px;
	margin-left: -9px;
	width: 20%;
	height: 780px;
	transform: translate(0, 0);
  	transition: transform 1000ms;
  	position: fixed;
  	z-index: 1;
  }
.img1.move {
	transform: translate(-200px,0px);
}
.img2 {
	margin-left: 90px;
	margin-top: -25px;
	width: 20%;
	height: 700px;
	z-index: 3;
	position: fixed;
	transform: translate(0, 0);
  	transition: transform 1000ms;
}
.img2.move {
	transform: translate(90px,0px);
}
.img2.unmove {
	transform: translate(-90px,0px);
}

.img3 {
	margin-left: 290px;
	margin-top: -10px;
	width: 25%;
	height: 900px;
	z-index: 2;
	position: fixed;
	transform: translate(0, 0);
  	transition: transform 1000ms;
}
.img3.move {
	transform: translate(100px,0px);
}




.about-me {
	background-color: white;
	width: 150px;
	position: absolute;
	z-index: 0;
	margin-left: 2%;
	margin-top: 300px;

}
.about-us{
	width: 150px;

	position: absolute;
	z-index: 0;
	margin-left: 18.5%;
	margin-top: 300px;
}